<tr>
  <td align='center' style='padding: 45px 48px;'>
    <h1
      style='font-size: 24px; margin: 0 50px;
                                             font-weight: 600;'
    >We are thrilled to have you join us</h1>
  </td>
</tr>

<tr>
  <td>
    <p
      style='font-size: 18px; margin: 0; font-weight: 800; padding: 32px 40px 20px; line-height: 2;'
    >
      Hello
      {{name}},
    </p>

  </td>
</tr>

<tr>
  <td>
    <p
      style='font-size: 18px; margin: 0; font-weight: 300; padding: 0 40px 30px; line-height: 2;'
    >
      Welcome to the CirclePal family.

    </p>
  </td>
</tr>

<tr>
  <td>
    <p
      style='font-size: 18px; margin: 0; font-weight: 300; padding: 0 40px 30px; line-height: 2;'
    >
      We want you to get value for using Mentorfy that is why CirclePal
      was curated just for you!

    </p>
  </td>
</tr>

<tr>
  <td>
    <p
      style='font-size: 18px; margin: 0; font-weight: 300; padding: 0 40px 30px; line-height: 2;'
    >
    
    </p>
  </td>
</tr>

<tr>
  <td>
    <p
      style='font-size: 18px; margin: 0; font-weight: 300; padding: 0 40px 30px; line-height: 2;'
    >
      So start Building Deeper Connections
      <a
        target='_blank'
        href='https://circlepal.com'
        style='color: #33d5ba; '
      >
        Join Now</a>

    </p>
  </td>
</tr>